src/main/resources/ICL_V2.00.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Krishna Reddy Gaddamu (Centurylink) -->
<definitions targetNamespace="http://www.ICLNBI.com/ICLNBI.xsd/WSDL" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ICLNBI.com/ICLNBI_V2.00.xsd" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdltns="http://www.ICLNBI.com/ICLNBI.xsd/WSDL" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ICLNBI.com/ICLNBI_V2.00.xsd http://collaboration.ad.qintra.com/bu/it/application/SYSGEN0787126173/Shared%20Documents/DA%20Artifacts/Common%20XSD/ICL_V2.26.xsd">
	<types>
		<!-- ================================================ -->
		<!-- This file was generated by Progress DataXtend SI -->
		<!-- ================================================ -->
		<!-- !   ICL version 3.0 XSDs which is based on CIM 2.0                      ! -->
		<!-- !   This file includes all the requirements of Aug-13 release            ! -->
		<!-- !   Date = Mar-19-2013           any further changes will have review ! -->
		<!-- !   of the changes done ( class and attributeNames) and listed on  ! -->
		<!-- !   this block.                                                                             ! -->
		<!-- ================================================ -->
		<!-- !  Date = May-21-2013                                                               ! -->
		<!-- ! New Operation Added for deleteCircuit, deleteDevice,                 ! -->
		<!-- ! deleteLocation, createParty, updateParty and deleteParty          ! -->
		<!-- ================================================ -->	
		<!-- ================================================ -->
		<!-- !  Date = Nov-20-2014                                                                ! -->
		<!-- ! New Operations Added for CreateService, DeleteService,            ! -->
		<!-- ! UpdateService and CreateFlowDomain          							 ! -->
		<!-- ================================================ -->
		<!-- ================================================ -->
		<!-- !  Date = Sep-15-2015                                                                ! -->
		<!-- ! New Operation Added for CreateCug as a part of US19252- Create VPN in LIMS            ! -->
		<!-- ================================================ -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ICLNBI.com/ICLNBI_V2.00.xsd" xmlns:tns="http://www.ICLNBI.com/ICLNBI_V2.00.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
			<xs:include schemaLocation="ICL_V2.25.xsd"/>
		</xs:schema>
	</types>
	<message name="CreatePartyRequest">
		<part name="createParty" element="tns:CreatePartyRequest"/>
	</message>
	<message name="CreatePartyResponse">
		<part name="CreatePartyReturn" element="tns:CreatePartyResponse"/>
	</message>
	<message name="UpdatePartyRequest">
		<part name="updateParty" element="tns:UpdatePartyRequest"/>
	</message>
	<message name="UpdatePartyResponse">
		<part name="UpdatePartyReturn" element="tns:UpdatePartyResponse"/>
	</message>
	<message name="DeletePartyRequest">
		<part name="DeleteParty" element="tns:DeletePartyRequest"/>
	</message>
	<message name="DeletePartyResponse">
		<part name="DeletePartyReturn" element="tns:DeletePartyResponse"/>
	</message>
	<message name="CreateLocationRequest">
		<part name="createLocation" element="tns:CreateLocationRequest"/>
	</message>
	<message name="CreateLocationResponse">
		<part name="CreateLocationReturn" element="tns:CreateLocationResponse"/>
	</message>
	<message name="UpdateLocationRequest">
		<part name="updateLocation" element="tns:UpdateLocationRequest"/>
	</message>
	<message name="UpdateLocationResponse">
		<part name="UpdateLocationReturn" element="tns:UpdateLocationResponse"/>
	</message>
	<message name="DeleteLocationRequest">
		<part name="DeleteLocation" element="tns:DeleteLocationRequest"/>
	</message>
	<message name="DeleteLocationResponse">
		<part name="DeleteLocationReturn" element="tns:DeleteLocationResponse"/>
	</message>
	<message name="CreateCircuitRequest">
		<part name="createCircuit" element="tns:CreateCircuitRequest"/>
	</message>
	<message name="CreateCircuitResponse">
		<part name="CreateCircuitReturn" element="tns:CreateCircuitResponse"/>
	</message>
	<message name="UpdateCircuitRequest">
		<part name="updateCircuit" element="tns:UpdateCircuitRequest"/>
	</message>
	<message name="UpdateCircuitResponse">
		<part name="UpdateCircuitReturn" element="tns:UpdateCircuitResponse"/>
	</message>
	<message name="DeleteCircuitRequest">
		<part name="DeleteCircuit" element="tns:DeleteCircuitRequest"/>
	</message>
	<message name="DeleteCircuitResponse">
		<part name="DeleteCircuitReturn" element="tns:DeleteCircuitResponse"/>
	</message>
	<message name="CreateDeviceRequest">
		<part name="createDevice" element="tns:CreateDeviceRequest"/>
	</message>
	<message name="CreateDeviceResponse">
		<part name="CreateDeviceReturn" element="tns:CreateDeviceResponse"/>
	</message>
	<message name="UpdateDeviceRequest">
		<part name="updateDevice" element="tns:UpdateDeviceRequest"/>
	</message>
	<message name="UpdateDeviceResponse">
		<part name="UpdateDeviceReturn" element="tns:UpdateDeviceResponse"/>
	</message>
	<message name="DeleteDeviceRequest">
		<part name="DeleteDevice" element="tns:DeleteDeviceRequest"/>
	</message>
	<message name="DeleteDeviceResponse">
		<part name="DeleteDeviceReturn" element="tns:DeleteDeviceResponse"/>
	</message>
	<message name="SearchResourceSpecRequest">
		<part name="searchResourceSpec" element="tns:SearchResourceSpecRequest"/>
	</message>
	<message name="SearchResourceSpecResponse">
		<part name="SearchResourceSpecReturn" element="tns:SearchResourceSpecResponse"/>
	</message>
	<message name="SearchResourceRequest">
		<part name="searchResource" element="tns:SearchResourceRequest"/>
	</message>
	<message name="SearchResourceResponse">
		<part name="SearchResourceReturn" element="tns:SearchResourceResponse"/>
	</message>
	<message name="UpdateTerminationPointRequest">
		<part name="updateTerminationPoint" element="tns:UpdateTerminationPointRequest"/>
	</message>
	<message name="UpdateTerminationPointResponse">
		<part name="UpdateTerminationPointReturn" element="tns:UpdateTerminationPointResponse"/>
	</message>
	<message name="ConsumeNumberObjectRequest">
		<part name="ConsumeNumberObject" element="tns:ConsumeNumberObjectRequest"/>
	</message>
	<message name="ConsumeNumberObjectResponse">
		<part name="ConsumeNumberObjectReturn" element="tns:ConsumeNumberObjectResponse"/>
	</message>
	<message name="ReleaseNumberObjectRequest">
		<part name="ReleaseNumberObject" element="tns:ReleaseNumberObjectRequest"/>
	</message>
	<message name="ReleaseNumberObjectResponse">
		<part name="ReleaseNumberObjectReturn" element="tns:ReleaseNumberObjectResponse"/>
	</message>
	<message name="CreateServiceRequest">
		<part name="CreateServiceRequest" element="tns:CreateServiceRequest"/>
	</message>
	<message name="CreateServiceResponse">
		<part name="CreateServiceResponse" element="tns:CreateServiceResponse"/>
	</message>
	<message name="DeleteServiceRequest">
		<part name="DeleteServiceRequest" element="tns:DeleteServiceRequest"/>
	</message>
	<message name="DeleteServiceResponse">
		<part name="DeleteServiceResponse" element="tns:DeleteServiceResponse"/>
	</message>
	<message name="UpdateServiceRequest">
		<part name="UpdateServiceRequest" element="tns:UpdateServiceRequest"/>
	</message>
	<message name="UpdateServiceResponse">
		<part name="UpdateServiceResponse" element="tns:UpdateServiceResponse"/>
	</message>
	<message name="CreateFlowDomainRequest">
		<part name="CreateFlowDomainRequest" element="tns:CreateFlowDomainRequest"/>
	</message>
	<message name="CreateFlowDomainResponse">
		<part name="CreateFlowDomainResponse" element="tns:CreateFlowDomainResponse"/>
	</message>
	<message name="CreateCugRequest">
		<part name="CreateCugRequest" element="tns:CreateCugRequest"/>
	</message>
	<message name="CreateCugResponse">
		<part name="CreateCugResponse" element="tns:CreateCugResponse"/>
	</message>
	<!-- *******NIC GPON June - F5476 changes*******  -->
	<message name="CreateObjectImageRequest">
		<part name="CreateObjectImageRequest" element="tns:CreateObjectImageRequest"/>
	</message>
	<message name="CreateObjectImageResponse">
		<part name="CreateObjectImageResponse" element="tns:CreateObjectImageResponse"/>
	</message>
	<message name="RestoreObjectImageRequest">
		<part name="RestoreObjectImageRequest" element="tns:RestoreObjectImageRequest"/>
	</message>
	<message name="RestoreObjectImageResponse">
		<part name="RestoreObjectImageResponse" element="tns:RestoreObjectImageResponse"/>
	</message>
	<message name="DeleteObjectImageRequest">
		<part name="DeleteObjectImageRequest" element="tns:DeleteObjectImageRequest"/>
	</message>
	<message name="DeleteObjectImageResponse">
		<part name="DeleteObjectImageResponse" element="tns:DeleteObjectImageResponse"/>
	</message>
	<message name="GenerateMCORequest">
		<part name="GenerateMCORequest" element="tns:GenerateMCORequest"/>
	</message>
	<message name="GenerateMCOResponse">
		<part name="GenerateMCOResponse" element="tns:GenerateMCOResponse"/>
	</message>
	<message name="CreateTopologyRequest">
		<part name="CreateTopologyRequest" element="tns:CreateTopologyRequest"/>
	</message>
	<message name="CreateTopologyResponse">
		<part name="CreateTopologyResponse" element="tns:CreateTopologyResponse"/>
	</message>
	<message name="DeleteTopologyRequest">
		<part name="DeleteTopologyRequest" element="tns:DeleteTopologyRequest"/>
	</message>
	<message name="DeleteTopologyResponse">
		<part name="DeleteTopologyResponse" element="tns:DeleteTopologyResponse"/>
	</message>
	<message name="UpdateTopologyRequest">
		<part name="UpdateTopologyRequest" element="tns:UpdateTopologyRequest"/>
	</message>
	<message name="UpdateTopologyResponse">
		<part name="UpdateTopologyResponse" element="tns:UpdateTopologyResponse"/>
	</message>
	<message name="IdentifyPortRequest">
		<part name="IdentifyPortRequest" element="tns:IdentifyPortRequest"/>
	</message>
	<message name="IdentifyPortResponse">
		<part name="IdentifyPortResponse" element="tns:IdentifyPortResponse"/>
	</message>
	<message name="ValidationResourceRequest">
		<part name="ValidationResourceRequest" element="tns:ValidationResourceRequest"/>
	</message>
	<message name="ValidationResourceResponse">
		<part name="ValidationResourceResponse" element="tns:ValidationResourceResponse"/>
	</message>
	<message name="CreateSTagRequest">
		<part name="CreateSTagRequest" element="tns:CreateSTagRequest"/>
	</message>
	<message name="CreateSTagResponse">
		<part name="CreateSTagResponse" element="tns:CreateSTagResponse"/>
	</message>
<portType name="ICLNBIDataServicePortType">
		<operation name="CreateParty">
			<input message="wsdltns:CreatePartyRequest"/>
			<output message="wsdltns:CreatePartyResponse"/>
		</operation>
		<operation name="UpdateParty">
			<input message="wsdltns:UpdatePartyRequest"/>
			<output message="wsdltns:UpdatePartyResponse"/>
		</operation>
		<operation name="DeleteParty">
			<input message="wsdltns:DeletePartyRequest"/>
			<output message="wsdltns:DeletePartyResponse"/>
		</operation>
		<operation name="CreateLocation">
			<input message="wsdltns:CreateLocationRequest"/>
			<output message="wsdltns:CreateLocationResponse"/>
		</operation>
		<operation name="UpdateLocation">
			<input message="wsdltns:UpdateLocationRequest"/>
			<output message="wsdltns:UpdateLocationResponse"/>
		</operation>
		<operation name="DeleteLocation">
			<input message="wsdltns:DeleteLocationRequest"/>
			<output message="wsdltns:DeleteLocationResponse"/>
		</operation>
		<operation name="CreateCircuit">
			<input message="wsdltns:CreateCircuitRequest"/>
			<output message="wsdltns:CreateCircuitResponse"/>
		</operation>
		<operation name="UpdateCircuit">
			<input message="wsdltns:UpdateCircuitRequest"/>
			<output message="wsdltns:UpdateCircuitResponse"/>
		</operation>
		<operation name="DeleteCircuit">
			<input message="wsdltns:DeleteCircuitRequest"/>
			<output message="wsdltns:DeleteCircuitResponse"/>
		</operation>
		<operation name="CreateDevice">
			<input message="wsdltns:CreateDeviceRequest"/>
			<output message="wsdltns:CreateDeviceResponse"/>
		</operation>
		<operation name="UpdateDevice">
			<input message="wsdltns:UpdateDeviceRequest"/>
			<output message="wsdltns:UpdateDeviceResponse"/>
		</operation>
		<operation name="DeleteDevice">
			<input message="wsdltns:DeleteDeviceRequest"/>
			<output message="wsdltns:DeleteDeviceResponse"/>
		</operation>
		<operation name="SearchResourceSpec">
			<input message="wsdltns:SearchResourceSpecRequest"/>
			<output message="wsdltns:SearchResourceSpecResponse"/>
		</operation>
		<operation name="SearchResource">
			<input message="wsdltns:SearchResourceRequest"/>
			<output message="wsdltns:SearchResourceResponse"/>
		</operation>
		<operation name="UpdateTerminationPoint">
			<input message="wsdltns:UpdateTerminationPointRequest"/>
			<output message="wsdltns:UpdateTerminationPointResponse"/>
		</operation>
		<operation name="ConsumeNumberObject">
			<input message="wsdltns:ConsumeNumberObjectRequest"/>
			<output message="wsdltns:ConsumeNumberObjectResponse"/>
		</operation>
		<operation name="ReleaseNumberObject">
			<input message="wsdltns:ReleaseNumberObjectRequest"/>
			<output message="wsdltns:ReleaseNumberObjectResponse"/>
		</operation>
		<operation name="CreateService">
			<input message="wsdltns:CreateServiceRequest"/>
			<output message="wsdltns:CreateServiceResponse"/>
		</operation>
		<operation name="DeleteService">
			<input message="wsdltns:DeleteServiceRequest"/>
			<output message="wsdltns:DeleteServiceResponse"/>
		</operation>
		<operation name="UpdateService">
			<input message="wsdltns:UpdateServiceRequest"/>
			<output message="wsdltns:UpdateServiceResponse"/>
		</operation>
		<operation name="CreateFlowDomain">
			<input message="wsdltns:CreateFlowDomainRequest"/>
			<output message="wsdltns:CreateFlowDomainResponse"/>
		</operation>
		<operation name="CreateCug">
			<input message="wsdltns:CreateCugRequest"/>
			<output message="wsdltns:CreateCugResponse"/>
		</operation>
		<operation name="CreateObjectImage">
			<input message="wsdltns:CreateObjectImageRequest"/>
			<output message="wsdltns:CreateObjectImageResponse"/>
		</operation>
		<operation name="RestoreObjectImage">
			<input message="wsdltns:RestoreObjectImageRequest"/>
			<output message="wsdltns:RestoreObjectImageResponse"/>
		</operation>
		<operation name="DeleteObjectImage">
			<input message="wsdltns:DeleteObjectImageRequest"/>
			<output message="wsdltns:DeleteObjectImageResponse"/>
		</operation>
		<operation name="GenerateMCO">
			<input message="wsdltns:GenerateMCORequest"/>
			<output message="wsdltns:GenerateMCOResponse"/>
		</operation>
		<operation name="CreateTopology">
			<input message="wsdltns:CreateTopologyRequest"/>
			<output message="wsdltns:CreateTopologyResponse"/>
		</operation>
		<operation name="DeleteTopology">
			<input message="wsdltns:DeleteTopologyRequest"/>
			<output message="wsdltns:DeleteTopologyResponse"/>
		</operation>
		<operation name="UpdateTopology">
			<input message="wsdltns:UpdateTopologyRequest"/>
			<output message="wsdltns:UpdateTopologyResponse"/>
		</operation>
		<operation name="IdentifyPort">
			<input message="wsdltns:IdentifyPortRequest"/>
			<output message="wsdltns:IdentifyPortResponse"/>
		</operation>
		<operation name="ValidationResource">
			<input message="wsdltns:ValidationResourceRequest"/>
			<output message="wsdltns:ValidationResourceResponse"/>
		</operation>
		<operation name="CreateSTag">
			<input message="wsdltns:CreateSTagRequest"/>
			<output message="wsdltns:CreateSTagResponse"/>
		</operation>
	</portType>
	<binding name="ICLNBIDataServiceBinding" type="wsdltns:ICLNBIDataServicePortType">
		<SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateParty">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateLocation"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateParty">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateLocation"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteParty">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateLocation"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateLocation">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateLocation"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateLocation">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateLocation"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteLocation">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateLocation"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateCircuit">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateCircuit"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateCircuit">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateCircuit"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteCircuit">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateCircuit"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateDevice">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateDevice"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateDevice">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateDevice"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteDevice">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateDevice"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="SearchResourceSpec">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/SearchResourceSpec"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="SearchResource">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/SearchResource"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateTerminationPoint">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateTerminationPoint"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="ConsumeNumberObject">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/ConsumeNumberObject"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="ReleaseNumberObject">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/ReleaseNumberObject"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateService">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateService"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteService">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/DeleteService"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateService">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateService"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateFlowDomain">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateFlowDomain"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateCug">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateCug"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateObjectImage">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateObjectImage"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="RestoreObjectImage">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/RestoreObjectImage"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteObjectImage">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/DeleteObjectImage"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateMCO">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/GenerateMCO"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		
		<operation name="CreateTopology">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateTopology"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteTopology">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/DeleteTopology"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateTopology">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/UpdateTopology"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="IdentifyPort">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/IdentifyPort"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="ValidationResource">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/ValidationResource"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateSTag">
			<SOAP:operation soapAction="http://www.ICLNBIDataService.com/CreateSTag"/>
			<input>
				<SOAP:body use="literal"/>
			</input>
			<output>
				<SOAP:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ICL2NBIDataServiceService">
		<port name="ICLNBIDataServicePort" binding="wsdltns:ICLNBIDataServiceBinding">
			<SOAP:address location="$$$update this with the actual address before using$$$"/>
		</port>
	</service>
</definitions>
